# The destination uri for processed artifacts.
# Example uri values:
# Local path: /tmp/processed_artifacts
# GCS URI:    gs://your-bucket-name/processed_artifacts

DESTINATION_URI=/tmp/processed_artifacts

# API Configuration

PORT=8000
WORKER_LOG_LEVEL=INFO